$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */


/* Custom page header */


/* Make the masthead heading the same height as the navigation */


/* Custom page footer */


/* Main marketing message and sign up button */


/* Supporting marketing content */


/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }*/

    /* Remove the padding we set earlier */
/*    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
*/    /* Space out the masthead */
/*    .header {
        margin-bottom: 30px;
    }
*/    /* Remove the bottom border on the jumbotron for visual effect */
/*    .jumbotron {
        border-bottom: 0;
    }
}
*/

body{
  padding-top:60px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #365f9f;
  color: rgba(255, 255, 255, 1);
}

.row{
    margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6, .big{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: -5px;
}

h3{
    margin-top: -10px;
    letter-spacing: 0px;
}

.text-light{
    color: #7d95ba;
}

.dark{
    background-color: #2e5493;
    padding: 10px;
}

.light{
    background-color: #4167a6;
    padding: 10px;
}
.big{
  font-size: 90px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  /*text-shadow: -1px -1px rgba(0, 0, 0, 0.6);*/
  /*font-weight: bold;*/
}

.col-md-6{
  margin-bottom: 40px;
}

.list-group-item{
  background-color: #2e5493;
  border: none;
}

.list-group, .badge{
  font-size: 14px;
}

.label-default{
  background-color: transparent;
}

.jumbotron{
  background-color: transparent;
  text-align: center;
}

#foo{
      position: absolute;
      height: 0%;
      width: 0%;
      top: 50%;
      left: 50%;
      /*background-color: #e7e7e7;*/
    }

    .badge{
        background-color: transparent;
        font-weight: lighter;
    }