<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <!-- <h3>Friends</h3> -->
    <div class="col-xs-12 col-md-12">
      <h3>User</h3>
      <p>{{ user }}</p>

      <h3>location</h3>
      <p>{{ information.friends.location }}</p>
      
      <h3>Hometown</h3>
      <p>{{ information.friends.hometown }}</p>

      <h3>Average Age</h3>
      <p>{{ information.friends.averageAge }}</p>
      
      <h3>relationship Status</h3>
      <p>{{ information.friends.relationshipStatus }}</p>

      <h3>Friends gender</h3>
      <p>{{ information.friends.gender }}</p>

<!--       <h3>All</h3>
      <p>{{ friends }}</p> -->
    </div>
  </div>
</div>