<div class="row">
    <div class="cols-xs-12 col-sm-4">
        <div class="row">
            <h3>Friends Count</h3>
                <div class="big">{{ user.friendsCount }}</div>
            <p>
                Timezone: {{ user.timezone }}<br>
                local: {{ user.locale }}
            </p>
        </div>
        <div class="row">
            <hr>
            <h3>Average Age<span class="label label-default pull-right">{{ information.friends.averageAge.precision }}%</span></h3>
            <p>
                <div class="big">{{ information.friends.averageAge.avgAge }}</div>
                Count: {{ information.friends.averageAge.count }}<br>
            </p>
        </div>
    </div>
    
    <div class="cols-xs-12 col-sm-4">
        <h3>Location<span class="label label-default pull-right">{{ information.friends.location.precision | number:1 }}%</span></h3>
        <div id="location"></div>
        <div>
            <span>Percentage: {{ information.friends.location.percentage | number:1 }}%</span><br>
            <span>Count: {{ information.friends.location.count }}/{{ information.friends.location.totalCount }}</span><br>
            <span>Precision: {{ information.friends.location.precision | number:1 }}%</span><br>
        </div>
    </div>

    <div class="cols-xs-12 col-sm-4">
        <h3>Hometown<span class="label label-default pull-right">{{ information.friends.hometown.precision | number:1 }}%</span></h3>
        <div id="hometown"></div>
        <div>
            <!-- <span class="fui-location"></span>
            <img src="bower_components/flat-ui/img/icons/svg/compas.svg" alt="Compas" class="tile-image big-illustration"> -->
            <span>Percentage: {{ information.friends.hometown.percentage | number:1 }}%</span><br>
            <span>Count: {{ information.friends.hometown.count }}/{{ information.friends.hometown.totalCount }}</span><br>
            <span>Precision: {{ information.friends.hometown.precision | number:1 }}%</span><br>
        </div>
    </div>
</div>

<div class="row">
    <div class="cols-xs-12 col-sm-6">
        <h3>Relationship Status<span class="label label-default pull-right">{{ information.friends.relationshipStatus.precision | number:1 }}%</span></h3>
        <div id="relationship"></div>
        <ul>
            <li ng-repeat="(typeName, type) in information.friends.relationshipStatus.type">{{ typeName }}: {{ type.count }}, {{ type.percentage }}</li>
        </ul>

        <p>Total: {{ information.friends.relationshipStatus.totCount }}</p>
        <p>Precision: {{ information.friends.relationshipStatus.precision }}</p>
    </div>

    <div class="cols-xs-12 col-sm-6">
        <h3>Friends gender<span class="label label-default pull-right">{{ information.friends.gender.precision | number:1 }}%</span></h3>
        <div id="gender"></div>
        <ul>
            <li ng-repeat="(typeName, type) in information.friends.gender.type">{{ typeName }}: {{ type.count }}, {{ type.percentage }}</li>
        </ul>
        <p>Total: {{ information.friends.gender.totCount }}</p>
        <p>Precision: {{ information.friends.gender.precision }}</p>
    </div>
</div>